*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
app/src/androidTest
sample/src/androidTest
sample/src/test
/library/src/androidTest/
/library/src/test/
